/* GLOBAL STYLES */

* {
  box-sizing: border-box;
}

html {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 20px;
}

a {
  color: blue;
}

body {
  padding: 1rem;
}

#app-shell {
  border: 3px solid #e5a044;
  position: relative;
  padding: 1rem;
}

#app-shell::after {
  content: "app shell";
  background: #e5a044;
}

#app-content > * {
  padding: 1rem;
  display: block;
  position: relative;
  min-height: 330px;
  max-width: 400px;
  margin: 0 auto 2rem;
}

#app-shell::after,
#app-content > *::after {
  position: absolute;
  color: white;
  display: block;
  line-height: 1.5rem;
  padding: 0 0.5em;
}

#app-content > *::after {
  bottom: -1.5rem;
  right: -3px;
}

#app-shell::after {
  left: -3px;
  bottom: 0;
}

inspire-pages {
  border: 3px solid #7c9b2f;
}

inspire-pages::after {
  content: "team inspire";
  background: #7c9b2f;
}

decide-pages {
  border: 3px solid #bc3630;
}

decide-pages::after {
  content: "team decide";
  background: #bc3630;
}

checkout-pages {
  border: 3px solid #5f9dc8;
}

checkout-pages::after {
  content: "team checkout";
  background: #5f9dc8;
}

footer {
  margin-bottom: 1rem;
  text-align: center;
}
