/* GLOBAL STYLES */

* {
  box-sizing: border-box;
}

html {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 20px;
}

a {
  color: inherit;
}

/* PRODUCT PAGE STYLES */

.decide_layout {
  display: grid;
  margin: 0;
  padding: 0 1rem 3rem;
  grid-gap: 2rem;
  grid-template-columns: 3fr 2fr 2fr;
  max-width: 55rem;
  margin: 0 auto;
}

.decide_header {
  font-size: 2rem;
  margin: 1rem 0 0;
  text-align: center;
  padding: 0.25rem;
  border: solid lightgray;
  border-width: 3px 0;
  grid-column: 1 / span 3;
}

.decide_headline {
  font-size: 1.5em;
  text-align: center;
  margin: 0;
}

.decide_image {
  width: 100%;
}

.decide_details {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}


.decide_editions {
  display: block;
  cursor: pointer;
  white-space: nowrap;
  margin: 0 auto;
}

.decide_editions p {
  font-weight: bold;
}

.decide_editions input {
   zoom: 1.25;
   transform: scale(1.5);
}

.decide_editions span {
  display: inline-block;
  margin-left: 0.5em;
  vertical-align: middle;
}

.decide_editions img {
  width: 80px;
  height: 80px;
  margin-left: 0.5em;
  display: inline-block;
  vertical-align: middle;
}