html {
  outline: 3px solid #BC3630;
  outline-offset: -10px;
  position: relative;
}

html::after {
  content: "Team Decide";
  background-color: #BC3630;
  display: block;
  color: white;
  position: absolute;
  padding: 2px 5px;
  bottom: 10px;
  left: 7px;
}