/* GLOBAL STYLES */

* {
  box-sizing: border-box;
}

html {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 20px;
}

a {
  color: inherit;
}

/* PRODUCT PAGE STYLES */

.decide_layout {
  display: grid;
  margin: 0;
  padding: 0 1rem 1rem;
  grid-gap: 2rem;
  grid-template-columns: 3fr 2fr 2fr;
}

.decide_header {
  font-size: 2rem;
  margin: 1rem 0 0;
  text-align: center;
  padding: 0.25rem;
  border: solid lightgray;
  border-width: 3px 0;
  grid-column: 1 / span 3;
}

.decide_headline {
  font-size: 1.5em;
  text-align: center;
  margin: 0;
}

.decide_image {
  width: 100%;
}

.decide_details {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
