html {
  outline: 3px solid #7C9B2F;
  outline-offset: -10px;
  position: relative;
}

html::after {
  content: "Team Inspire";
  background-color: #7C9B2F;
  display: block;
  color: white;
  position: absolute;
  padding: 2px 5px;
  bottom: 10px;
  left: 7px;
}