checkout-buy {
  margin-bottom: 0.65em;
}

checkout-buy button {
  width: 100%;
  padding: 0.5em;
  font-size: 1.5em;
  border: none;
  color: white;
  border-radius: 0.25em;
  background: rgb(75, 158, 204);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  white-space: nowrap;
}

checkout-buy button:hover {
  background: rgb(75, 158, 204, 0.8);
}

checkout-buy button:active {
  background: gray;
  transform: scale(0.98);
}

checkout-minicart {
  display: block;
  text-align: center;
  margin-bottom: 1.5rem;
}

checkout-minicart img {
  width: 80px;
  height: 80px;
  display: inline-block;
  vertical-align: middle;
}
