checkout-buy,
checkout-minicart,
inspire-recommendations {
  background: repeating-linear-gradient(
    45deg,
    #ffffff,
    #ffffff 28.75px,
    #dddddd 28.75px,
    #dddddd 57.5px
  );
  display: flex;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
}

inspire-recommendations {
  min-height: 50vh;
}

checkout-buy div,
checkout-minicart div,
inspire-recommendations div {
  display: block;
  background: #fffe;
  border-radius: 0.25rem;
  padding: 0.5rem;
}
